@media only screen and (max-width: 600px), (min-width: 600px) {
  .proyectsContainer {
    grid-template-columns: 16rem;
    display: grid;
    gap: 1.813rem;
  }
  .tags-list {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .proyectsContainer {
    grid-template-columns: repeat(3, 16rem);
    display: grid;
    gap: 1.813rem;
  }
  .tags-list {
    display: grid;
    justify-content: center;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 1250px) {
  .proyectsContainer {
    grid-template-columns: repeat(4, 16rem);
    display: grid;
    gap: 1.813rem;
  }
  .tags-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
