.Tag {
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  min-width: 4rem;
}
.notSelected {
  border: 1px solid transparent;
  background: rgba(184, 197, 214, 0.28);
}
.hover-effect:hover {
  background: var(--accent);
}
.selected {
  border: 1px solid var(--second-black);
  background: var(--accent);
}
.Tag::after {
  z-index: 1;
  transition: all 0.5s;
}
