.Proyect {
  .imgContainer {
    height: 9rem;
    background: rgba(184, 197, 214, 0.28);
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    .img {
      width: 11rem;
      height: 7.75rem;
      padding: 0.625rem 2rem;
    }
  }
  .infoContainer {
    margin-top: 1.125rem;
    .name {
      font-family: "Roboto-Bold";
    }
    .tagContainer {
      display: flex;
      gap: 1rem;
      margin-top: 0.563rem;
    }
    .descText {
      color: var(--tre);
      margin-top: 0.375rem;
    }
    .buttonContainer {
      margin: 1.063rem 0 0.938rem 0;
      gap: 2.313rem;
      .b {
        width: 5rem;
        height: 1.875rem;
        border-radius: 0.125rem;
        gap: 0.313rem;
        font-size: 0.625rem;
      }
      .bPrev {
        background-color: var(--accent);
      }
      .bCode {
        background-color: var(--second);
      }
      .img {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 0.125rem;
      }
    }
  }
}
.hide {
  display: none;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
